form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

footer {
  align-items: baseline;
  padding: 10px 20px;
}

.header {
  padding: 10px 20px;
  color: #f50002;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #131517;
}

.logo {
  width: 15vw;
}

.header-logo {
  width: 100%;
}

.link-nav{
  margin-left: 2vw;
  color: #323438;
}

.pages {
  display:flex;
  justify-content: left;
}

.employee-grid {
  margin: 10%;
  width: auto;
}