form {
  display: flex;
  flex-direction: column;
}

.salary-page-padding {
  padding-top: 5%;
  padding-inline: 20%;
}

.salary-page-padding *{
  margin: 5px;
}

footer {
  align-items: baseline;
  position:fixed;
  bottom: 0px;
  width: 100%;
  padding: 3vh 5vw;
  color:#323438;
  background-color: #dadbdb;
}

.header {
  padding: 10px 20px;
  color: #f50002;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #131517;
}

.logo {
  width: 15vw;
}

.header-logo {
  width: 100%;
}

.link-nav{
  margin-left: 2vw;
  color: #323438;
}

.pages {
  display:flex;
  justify-content: left;
}

.employee-grid {
  margin: 10%;
  width: auto;
}